html, body {
    width: 100%;
    overflow: visible;
    float: none;
    position: relative;
}

.attendee-reportbadgelabels {
    margin: auto;
    page-break-after:auto
}

.attendee-reportbadgelabels tr    { page-break-inside:avoid; page-break-after:auto }
.attendee-reportbadgelabels td    { page-break-inside:avoid; page-break-after:auto }

.attendee-reportbadges {
    margin: auto;
    width: 27cm;
    float: none;
    position: relative;
    top: 10pt;
}

@font-face {
    font-family: 'Bitsumishi';
    src: url('/fonts/bitsumishi.ttf');
}

.special {
    color: red;
}

.specialvolunteer {
    color: white;
    background-color: black;
}

.volunteer {
    color: white;
    background-color: black;
}

.companion {
    color: green;
}

.badgelabel {
    text-align: center;
    font-family: Bitsumishi;
    font-size: 23pt;
    width: 10.25cm;
    height: 1.50cm;
    border-right: solid black 1px;
}
.badgelabelin {
    width: 10.25cm;
    height: 1.50cm;
    white-space: nowrap;
}
.badgelabelvertical {
    text-align: center;
    font-family: Bitsumishi;
    font-size: 16pt;
    width: 6.75cm;
    height: 1.50cm;
    border-right: solid black 1px;
}
.badgelabelverticalin {
    width: 6.75cm;
    height: 1.50cm;
    white-space: nowrap;
}

.small {
    font-size: 16pt;
}

.badgetype {
    padding: 5px;
    font-size: 10pt;
    width: 9.50cm;
 }

.parent {
    border: solid black 1px;
    text-align: center;
    font-family: Bitsumishi;
    font-size: 20pt;
    width: 9.50cm;
    height: 4.50cm;
    page-break-inside: avoid;
}

#warnings {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: darkred;
}

.title {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 1.5cm;
    border-bottom: darkgray solid 1px;
}

.titV {
    color: #DF6F00;
}

.titS {
    color: forestgreen;
}

.titD {
    color: darkblue;
}

.titF {
    color: darkred;
}

.badgelabelhintV {
    background-color: #DF6F00;
    width: 3px;
}

.badgelabelhintS {
    background-color: forestgreen;
    width: 3px;
}

.badgelabelhintD {
    background-color: darkblue;
    width: 3px;
}

.badgelabelhintF {
    background-color: darkred;
    border: solid orangered 2px;
    width: 5px;
}
.badgelabelhintC {
    background-color: yellow;
    width: 3px;
}

@media all {
    .pagebreak {
        page-break-after: always;
        position: relative;
        float: none;
    }
}
.attendee-reportbadges thead tr th {
    font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 8pt;
    -webkit-print-color-adjust: exact;
}

.attendee-reportbadges tbody tr td {
    font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-size: 8pt;
    -webkit-print-color-adjust: exact;
}

.attendee-reportbadgesdet thead tr th {
    font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 7pt;
    -webkit-print-color-adjust: exact;
}

.attendee-reportbadgesdet tbody tr td {
    font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-size: 6pt;
    -webkit-print-color-adjust: exact;
}

.even {
    background-color: lavender;
}

.odd {
    background-color: #F0F0F0;
}

.c {
    text-align: center;
}

.n {
    text-align: right;
    font-weight: bold;
}

.badgeV {
    background-color: palegreen;
}

.badgeS {
    background-color: lightblue;
}

.badgeD {
    background-color: lightpink;
}
.badgeF {
    background-color: lightcoral;
}

.gala {
    background-color: #FB0000;
}

.cocktail {
    background-color: #558435;
}

.valientes {
    background-color: #8A8A8A;
}

.comidaS {
    background-color: #FF6C6C;
}
.comidaD {
    background-color: #9854CB;
}

.notconfirmed {
    background-color: darkorange;
}
.modified {
    background-color: #9854CB;
    color: white;
}

.cancelled {
    background-color: darkred;
    color: lightgrey;
}

.logoleft {
    float: left;
}

.logoright {
    float: right;
}

.reportheadertxt {
    font-weight: bold;
    font-size: 14pt;
    font-family: "Calibri", Helvetica, Arial, sans-serif;
}

.reportheader {
    clear: both;
    height: 140px;
}

.reporthoteltable thead tr th,.reporthoteltable tfoot tr th {
    font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11pt;
    background-color: #4472C4;
    color: white;
    -webkit-print-color-adjust: exact;
}

.reporthoteltable tbody tr:nth-child(odd) {
    background-color: #D9E1F2;
    -webkit-print-color-adjust: exact;
}

.reporthoteltable tbody tr.notconfirmed:nth-child(odd) {
    background-color: darkorange;
    -webkit-print-color-adjust: exact;
}

.reporthoteltable tbody tr.cancelled:nth-child(odd) {
    background-color: darkred;
    -webkit-print-color-adjust: exact;
}

.reporthoteltable tbody tr.modified:nth-child(odd) {
    background-color: #9854CB;
    color: white;
    -webkit-print-color-adjust: exact;
}

.reporthoteltable tbody tr td {
    font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-size: 11pt;
    -webkit-print-color-adjust: exact;
}

.sourceimage {
    vertical-align: text-bottom;
    width: 24px;
}

.cosplay {
    width: 80em;
}
.cosplay thead tr th {
    font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 24pt;
    background-color: #C5D9F1;
    border: 1px solid black;
    -webkit-print-color-adjust: exact;
}

.cosplay thead tr th.med {
    font-size: 16pt;
}
.cosplay thead tr th.peq {
    font-size: 11pt;
}

.cosplay tbody tr td {
    font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-size: 20pt;
    -webkit-print-color-adjust: exact;
}
.cosplay tbody tr td.med {
    font-size: 16pt;
}
.cosplay tbody tr td.peq {
    font-size: 11pt;
}

.cosplay thead tr.cosplaytitle th {
    font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-size: 28pt;
    text-align: center;
    border: 2px solid black;
    background-color: #C5D9F1;
}

.volunteers {
    width: 80em;
}
.volunteers thead tr th {
    font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12pt;
    background-color: #C5D9F1;
    border: 1px solid black;
    white-space: nowrap;
    -webkit-print-color-adjust: exact;
}

.volunteers thead tr.volunteertitle th {
    font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-size: 16pt;
    text-align: center;
    border: 2px solid black;
    background-color: #C5D9F1;
}


.volunteers tbody tr td {
    font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    border: 1px solid black;
    -webkit-print-color-adjust: exact;
}

.volunteers tbody tr td.mark {
    text-align: center;
}


.attendee-reportreservations h2 {
    font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-size: 16pt;
    font-weight: bold;
}

.attendee-reportreservations table tbody tr td {
    font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-size: 14pt;
    border: 1px solid black;
    -webkit-print-color-adjust: exact;
}

.attendee-reportcifikids {
    margin: auto;
    page-break-after: always;
}

.reportsubheadertxt {
    font-size: 12pt;
    font-family: "Calibri", Helvetica, Arial, sans-serif;
}

.firma {
    height: 25pt;
    width: 150pt;
}

.parking {
    font-size: 72pt;
    font-weight: bold;
    font-family: "Bitsumishi", "Calibri", Helvetica, Arial, sans-serif;
    border: 1pt solid black;
    margin: 20pt;
    text-align: center;
    width: 800pt;
    height: 300pt;
    page-break-after: always;
    padding: 110pt 0;
}